.navbar {
  background-color: var(--bg-secondary);
  width: 100%;
  min-height: 4rem;
  border-bottom: 2px solid var(--underline-primary);
}

.nav-flex {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.nav-menu-button {
  display: none;
  margin: 0.5rem;
  padding: 0.25rem;
  z-index: 100;
}

.nav-menu {
  position: fixed;
  top: 0;
  transition-property: width;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

.nav-menu a {
  white-space: nowrap;
}

.nav-menu a:hover {
  cursor: pointer;
}

.nav-menu-list {
  transition-property: opacity;
  transition-delay: 70ms;
  transition-duration: 10ms;
  transition-timing-function: ease-in-out;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 80%;
  padding: 0 0.75em 0 1em;
}

.nav-logo img {
  height: clamp(2.5rem, 4vw, 3rem);
  padding-top: 0.25rem;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80%;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  color: var(--clr-content-3);
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  text-align: center;
  padding: 0 0.5rem 0 0.5rem;
}

.nav-title div {
  min-height: 70%;
}

.nav-list {
  list-style: none;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-inline: 0.5rem;
}

.nav-item {
  height: 100%;
  color: var(--clr-content-0);
  padding: 1rem 0 1rem 0;
  font-family: "Ubuntu";
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--bg-secondary);
  width: 9rem;
}

.nav-item:hover {
  border-bottom: 5px solid var(--clr-content-3);
  color: var(--clr-content-3);
}

.nav-list > .nav-item:first-child {
  margin-left: 1rem;
}

.nav-item-active {
  border-bottom: 5px solid var(--clr-content-3);
  color: var(--clr-content-3);
}

@media only screen and (max-width: 750px) {
  .nav-list {
    display: none;
  }
  .nav-menu-button {
    display: block;
  }
  .nav-logo {
    padding: 0 0.75em 0 0;
  }
}
